 /******** COLORS **********/

 :root {
     --black-color: #444;
     --light-black: #181818;
     --white-color: rgb(243, 241, 241);
     --yellow-brand: #fffb32;
     --html-color: rgb(219, 124, 0);
     --css-color: rgb(0, 98, 155);
     --sass-color: rgb(226, 0, 106);
     --js-color: rgb(177, 53, 53);
 }

 /******** GENERAL **********/
 
 body {
     background-color: var(--black-color);
 }

 header,
 nav {
     background-color: var(--light-black);
 }

 * {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
 }
 

 /******** HEADER **********/

 header {
    display: flex;
    justify-content: space-between;
}

 #logo {
    height: 80px;
    width: 80px;
    margin-left: -20px;
    margin-bottom: -20px;
    padding-right: 10px;
 }

 #navicon {
     width: 30px;
    margin: 15px 15px
 }
 
 #navicon {
     fill: var(--white-color);
 }

 #navicon:hover {
    fill: var(--yellow-brand);
 }



 /******** NAVIGATOR **********/

nav {
    position: absolute;
    top: 60px;
    width: 100%;
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0; 
}

nav li {
    position: relative;
    width: 20%;
    height: 60px;
    text-align: center;
}

/******** NAVIGATOR ICONS **********/

.nav_icon {
    width: 25px;
    height: 25px;
}

.nav_icon path {
    fill: rgb(131, 131, 131);
}

.home {
    width: 23px;
    height: 23px;
    margin-top: 15px;
}

.med_icon {
    width: 28px;
    height: 30px;
    margin-top: 10px;
}

.user {
    width: 27px;
    height: 27px;
    margin-top: 15px;
}

.gear {
    width: 38px;
    height: 38px;
    margin-top: 10px;
}

.gear circle{
    fill: var(--light-black);
}

.mon_icon {
    width: 31px;
    height: 31px;
    margin-top: 15px;
}

.nav_overlay {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: .70rem;
    color: var(--yellow-brand);
    background-color: var(--light-black);
    opacity: 0;
    transform: opacity;
}

.nav_overlay p {
    margin-top: 20px;
    letter-spacing: 1px;
}

.nav_overlay:hover {
    opacity: 1;
    transition: .5s;
}

.current path{
    fill: var(--yellow-brand);
    border: 1px solid red;
}

/******** BACKGROUND LOGO **********/
#back_container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1001;
}

#back_logo {
    width: 100%;
    height: 100%;
    z-index: -1000;
}

/******** WELCOME MESSAGE **********/

#welcome {
    margin: 100px 0 0 30px;
}

#welcome h1 {
    color: #FFF;
    font-size: 2.25rem;
    margin-bottom: 0;
}

#welcome h2 {
    color: rgb(148, 143, 143);
    font-size: .8rem;
    margin-bottom: 40px;
}

#main_cta {
    border: 1px solid var(--yellow-brand);
    background-color: var(--black-color);
    color: var(--yellow-brand);
    padding: 8px 15px;
    border-radius: 2.5px;
    letter-spacing: 3px;
    font-size: .75rem;
}

#main_cta:hover {
    background-color: var(--yellow-brand);
    color: var(--light-black);
}

/******** ABOUT SECTION **********/


#about_me {
    padding: 35px;
}

#about_me h1 {
    color: var(--yellow-brand);
    font-size: 2.5em;
}

#about_me p,
#skills_text p {
    color: var(--white-color);
}

#portrait {
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 50%;
}

#my_map {
    width: 100%;
    height: 30%;
}

#about_me #world {
    margin-bottom: 5px;
    color: var(--yellow-brand);
}

/******** SKILLS SECTION **********/

#skills_text {
    margin: 30px;
    padding-bottom: 30px;
    color: var(--yellow-brand);
}

#skills_text span {
    font-weight: 600;
}

.html {
    color: var(--html-color);
}

.css {
    color: var(--css-color);
}

.js {
    color: var(--js-color);
}

.sass {
    color: var(--sass-color);
}

.wp {
    color: #fff;
}

.skills_wrap {
	perspective: 800px;
    perspective-origin: 50% 100px;
    width: 200px;
    margin: 0 auto;
}

.skills {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
}

.skills div {
	position: absolute;
	width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid #000;
    background-color: #1f1e1ef3;
   box-shadow: inset 0 0 50px 20px #000;
}

.skills p {
    margin-top: 40%;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

.back {
	transform: translateZ(-100px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(100px);
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.skills {
	animation: spin 8s infinite linear;
}

/* 
@keyframes spin-vertical {
	from { transform: rotateX(0); }
	to { transform: rotateX(-360deg); }
}

.cube-wrap.vertical .cube {
	margin: 0 auto;

	transform-origin: 0 100px;
	animation: spin-vertical 5s infinite linear;
}

.cube-wrap.vertical .top {
	transform: rotateX(-270deg) translateY(-100px);
}

.cube-wrap.vertical .back {
	transform: translateZ(-100px) rotateX(180deg);
}

.cube-wrap.vertical .bottom {
	transform: rotateX(-90deg) translateY(100px);
}
 */

 /******** PROJECTS SECTION **********/

#work_gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.project_container {
    width: 50%;
    margin: 0 auto 30px;
    border-radius: 10px;
    box-shadow: 4px 2px 5px var(--light-black);
}

.project_container:first-child {
    margin-top: 40px;
}

.project {
    margin: 0 auto;
    margin-bottom: -5px;
    position: relative;
    overflow: hidden;
    border-radius:10px 10px 0 0;
}

.project img {
    width: 100%;
    transition: transform .6s;
    transform-origin: 0 0;
}

.project_overlay {
    position: absolute; 
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #18181880;
    opacity: 0;
    transition: opacity .6s;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px;
}

.project_container:hover img {
    transform: scale(1.1);
}

.project_overlay:hover {
    opacity: 1;
}

.project_container h3 {
    margin: 5px 0 10px;
    font-size: 1rem;
}

.project_overlay h4 {
    margin: 5px;
}

.project_overlay p {
    color: var(--white-color);
    margin-bottom: auto;
    margin-top: 5px;
}

.project_overlay button {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    margin: 0 auto 10px;
    padding: 10px;
    background-color: var(--yellow-brand);
    color: var(--light-black);
    font-weight: 600;
    border: none;
    font-size: .8rem;
    box-shadow: 0 0 10px 5px; 
}

.project_details {
    color: var(--white-color);
    margin: 0 auto;
    background-color: var(--light-black);
    padding: 5px 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

/* Tags decoration*/

.html_tag,
.css_tag,
.js_tag,
.sass_tag {
    border: 2px solid ;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    font-size: .8rem;
    margin: 2px 2px 5px;
}

.html_tag {
    border-color: var(--html-color);
    color: var(--html-color);
}

.css_tag {
    border-color: var(--css-color);
    color: var(--css-color);
}

.js_tag {
    border-color: var(--js-color);
    color: var(--js-color);
}

.sass_tag {
    border-color: var(--sass-color);
    color: var(--sass-color);
}