 /******** COLORS **********/

 :root {
     --black-color: #444;
     --light-black: #181818;
     --white-color: rgb(243, 241, 241);
     --yellow-brand: #fffb32;
     --html-color: rgb(219, 124, 0);
     --css-color: rgb(0, 98, 155);
     --sass-color: rgb(226, 0, 106);
     --js-color: rgb(177, 53, 53);
 }

 /******** GENERAL **********/
 
 body {
    background-color: var(--black-color);
 }

 header,
 nav {
    background-image: url(../img/what-the-hex-dark.png);
 }

 header {
     background-color: var(--light-black);
 }

 * {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
 }
 
 a {
     text-decoration: none;
     color: var(--yellow-brand);
 }

 button {
    border: 1px solid var(--yellow-brand);
    color: var(--yellow-brand);
 }

 ul {
     list-style: none;
 }

 button:focus,
 input,
 textarea:focus {
    outline: none;
 }

.close_msg:hover {
    cursor: pointer;
}

 /******** HEADER **********/

 header {
    display: flex;
    justify-content: space-between;
}

 #logo {
    height: 80px;
    width: 80px;
    margin-left: -20px;
    margin-bottom: -24px;
    padding-right: 10px;
 }

 #navicon {
     width: 30px;
    margin: 15px 15px
 }
 
 #navicon {
     fill: var(--white-color);
 }

 #navicon:hover,
 .nav_icon:hover path {
    fill: var(--yellow-brand);
 }



 /******** NAVIGATOR **********/

nav {
    position: absolute;
    top: 60px;
    display: none;
    width: 100%;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0; 
}

nav li {
    position: relative;
    width: 20%;
    height: 60px;
    text-align: center;
}

/******** NAVIGATOR ICONS **********/

.nav_icon {
    width: 25px;
    height: 25px;
}

.nav_icon path {
    fill: rgb(131, 131, 131);
}

.home {
    width: 23px;
    height: 23px;
    margin-top: 15px;
}

.med_icon {
    width: 28px;
    height: 30px;
    margin-top: 10px;
}

.user {
    width: 27px;
    height: 27px;
    margin-top: 15px;
}

.gear {
    width: 38px;
    height: 38px;
    margin-top: 10px;
}

.gear circle{
    fill: var(--light-black);
}

.mon_icon {
    width: 31px;
    height: 31px;
    margin-top: 15px;
}

.nav_overlay {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: .70rem;
    color: var(--yellow-brand);
    background-image: url(../img/what-the-hex-dark.png);
    opacity: 0;
    transform: opacity;
}

.nav_overlay p {
    margin-top: 20px;
    letter-spacing: 1px;
}

.nav_overlay:hover {
    opacity: 1;
}

.current path{
    fill: var(--yellow-brand);
}

/******** FOOTER **********/

#prof_media {
    display: none;
    background-image: url(../img/what-the-hex-dark.png);
    margin-top: 20px;
}

.footer_icon {
    margin: 0 5px;
}

.footer_icon path {
    fill: rgb(131, 131, 131);
}

.footer_icon:hover path {
    fill: var(--yellow-brand);
}

/******** BACKGROUND LOGO **********/

#back_container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1001;
}

#back_logo {
    width: 100%;
    height: 100%;
    z-index: -1000;
}

@keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-it-a {
    100% {
        fill: var(--yellow-brand);
        /*fill: url(#SVGID_1_);*/
    }
}

@keyframes fill-it-b {
    100% {
        fill: rgb(231, 216, 14);
        /*fill: url(#SVGID_3_);*/
    }
}

.r_1,
.r_2 {
    stroke: var(--yellow-brand);
    stroke-width: 2;
    stroke-dasharray: 1900;
    stroke-dashoffset: 1900;
}

.r_1 {
    animation: offset 2.5s linear forwards, fill-it-a .2s 2.5s forwards;
}

.r_2 {
    animation: offset 4s linear forwards, fill-it-b .2s 2.5s forwards;
}

@keyframes show_welcome {
    0% {
        transform: scale(0);
    }

    30% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(0.9);
    }
}

#welcome h1 {
    animation: show_welcome 1.5s ease-out backwards;
    transform-origin: 50% 50%;
    animation-delay: .5s;
}



/******** WELCOME MESSAGE **********/

#welcome {
    margin: 100px 0 0 30px;
}

#welcome h1 {
    color: #FFF;
    font-size: 2.25rem;
    margin-bottom: 0;
}

#welcome h2 {
    color: rgb(148, 143, 143);
    font-size: .8rem;
    margin-bottom: 40px;
}

.main_cta {
    background-color: var(--black-color);
    padding: 8px 15px;
    border-radius: 2.5px;
    letter-spacing: 3px;
    font-size: .75rem;
    width: 134px;
}

.main_cta:hover,
#submit:hover,
.cta_overlay button:hover {
    background-color: var(--yellow-brand);
    color: var(--light-black);
}

/******** ABOUT SECTION **********/


#about_me {
    padding: 35px;
}

#about_me h1 {
    color: var(--yellow-brand);
    font-size: 2.5em;
}

#skills_text p {
    color: var(--white-color);
}

#portrait {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 50%;
}

#about_info_card {
    background-color: var(--light-black);
    padding: 20px 0;
    color: var(--white-color);
    box-shadow: 4px 2px 5px var(--light-black);
    width: 90%;
    margin: 0 auto;
}

.info_card {
    width: 90%;
    margin: 20px auto;
    border: 1px solid transparent;
    padding: 0 20px;
}

.info_card,
#about_info_card {
    border-radius: 5px;
}

.info_card p.answer::before,
.info_card li::before {
    content: "- ";
}

.card_1 {
    text-align: center;
}

.card_1 h3 {
    margin-bottom: 0;
    color: var(--yellow-brand);
}

.card_1 h4 {
    color: var(--yellow-brand);
    font-weight: 200;
    font-size: .75rem;
    margin-top: 10px;
}

.card_2 {
    background-image: radial-gradient(circle at top left, #FFD200 5%, transparent 85% ), url(../img/water.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

.card_3 p {
    margin-bottom: 0;
}

.answer {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: .9rem;
}

.card_3 {
    background-image:   radial-gradient(circle at top left, #FFD200 5%, transparent 85%),
                        url(../img/row.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}

/******** SKILLS SECTION **********/

#skills_text {
    margin: 60px 30px 30px;
    padding-bottom: 30px;
    color: var(--yellow-brand);
}

#skills_text span {
    font-weight: 600;
}

#skills_cube {
    padding-bottom: 50px;
}

.html {
    color: var(--html-color);
}

.css {
    color: var(--css-color);
}

.js {
    color: var(--js-color);
}

.sass {
    color: var(--sass-color);
}

.wp {
    color: #fff;
}

.skills_wrap {
	perspective: 800px;
    perspective-origin: 50% 100px;
    width: 200px;
    margin: 0 auto;
}

.skills {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
}

.skills div {
	position: absolute;
	width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid #000;
    background-color: rgba(31, 30, 30, 0.966);
    box-shadow: inset 0 0 50px 20px #000;
}

.skills p {
    margin-top: 40%;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

#skills_cube {
    height: 250px;
    margin-bottom: 50px;
}

.back {
	transform: translateZ(-100px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(100px);
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.skills {
	animation: spin 8s infinite linear;
}

 /******** PROJECTS SECTION **********/

#work_gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.project_container {
    width: 60%;
    margin: 0 auto 30px;
    border-radius: 10px;
    box-shadow: 4px 2px 5px var(--light-black);
}

.project_container:first-child {
    margin-top: 80px;
}

.project {
    margin: 0 auto;
    margin-bottom: -5px;
    position: relative;
    overflow: hidden;
    border-radius:10px 10px 0 0;
}

.project img {
    width: 100%;
    transition: transform .6s;
    transform-origin: 0 0;
}

.project_overlay {
    position: absolute; 
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(24, 24, 24, 0.801);
    opacity: 0;
    transition: opacity .6s;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 15px;
}

.project_container:hover img {
    transform: scale(1.1);
}

.project_container:hover .project_overlay,
.project_container:hover .cta_overlay {
    opacity: 1;
    transition-duration: 500ms;
}

.project_container h3 {
    margin: 5px 0 10px;
    font-size: 1rem;
}

.project_overlay h4 {
    margin: 5px;
}

.project_overlay p {
    color: var(--yellow-brand);
    margin-bottom: auto;
    margin-top: 5px;
    font-size: .9rem;
    letter-spacing: 1.5px;
    
}

.cta_overlay button {
    display: block;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px;
    font-weight: 600;
    font-size: .8rem;
    background-color: var(--light-black);
}

.project_details {
    color: var(--white-color);
    margin: 0 auto;
    background-color: var(--light-black);
    padding: 5px 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    position: relative;
}

.cta_overlay {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: var(--light-black);
    transform: opacity;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pop_msg {
    position: fixed;
    padding: 10px;
    padding-left: 15px;
    bottom: 25px;
    width: 320px;
    right: 20px;
    border-radius: 5px;
    color: var(--light-black);
    background-color: var(--yellow-brand);
    border: 1px solid var(--yellow-brand);
    display: none;
}

.close_msg {
    position: absolute;
    top: -10px;
    right: 7.5px;
    padding: 5px;
}

/******* Tags decoration *******/

.html_tag,
.css_tag,
.js_tag,
.sass_tag {
    border: 2px solid ;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    font-size: .8rem;
    margin: 2px 2px 5px;
}

.html_tag {
    border-color: var(--html-color);
    color: var(--html-color);
}

.css_tag {
    border-color: var(--css-color);
    color: var(--css-color);
}

.js_tag {
    border-color: var(--js-color);
    color: var(--js-color);
}

.sass_tag {
    border-color: var(--sass-color);
    color: var(--sass-color);
}

/******* 3D FLPPING CTA *******/


.project_container {
    perspective: 700px;
}

.cta_container .project_details {
   z-index: 2;
}

.cta_project {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
    background: var(--light-black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 5px 5px;
}

/******* CONTACT FORM *******/

#contact_title {
    color: var(--yellow-brand);
    margin: 60px 8% 25px;
}

#contact_form {
    width: 85%;
    margin: 0 auto;
    position: relative;
}

fieldset {
    border: none;
}

legend {
    color: var(--white-color);
    font-size: .85rem;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

#contact_form input{
    height: 50px;
}

textarea,
#contact_form input {
    padding: 5px;
}

#message,
#contact_form input {
    width: 100%;
    margin: 5px 0;
    background-color: var(--light-black);
    border: none;
    color: var(--white-color);
    border-radius: 2.5px;
}

#contact_form input:focus,
#message:focus {
    border-bottom: 2px solid var(--yellow-brand);
}

input[placeholder]::placeholder,
textarea::placeholder {
    padding-left: 10px;
}

#submit {
    background-color: var(--black-color);
    padding: 5px 10px;
    letter-spacing: 1.5px;
    border-radius: 2.5px;
    position: absolute;
    bottom: -30px;
    right: 10px;
}

#iframe_wrapper {
    height: 355px;
}

#contact_data {
    width: 80%;
    margin: 50px auto;
    background-color: var(--light-black);
    color: var(--white-color);
}

#contact_info {
    padding: 15px;
}

#contact_info span {
    color: var(--yellow-brand);
    font-size: 1.25rem;
}

#contact_info p:not(:last-child) {
    margin: 5px 0; 
    
}

#contact_info p {
    font-size: .85rem;
}

/******* MEDIA QUERIES *******/


@media(min-width: 768px) {

    /***** BACK LOGO *****/

    #back_container {
        padding-top: 100px;
    }

    /***** WELCOME *****/

    #welcome {
        margin-left: 130px;
    }

    #welcome h1 {
        font-size: 3rem;
    }

    /***** NAV*****/

    #navicon {
        display: none;
    }

    nav {
        width: 60%;
        top: 0;
        left: 20%;
        display: block;
    }

    /***** FOOTER *****/

    #prof_media {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 10px;
    }
    
    /***** ABOUT *****/

    #about_me {
        padding: 80px;
    }

    #two_cards_wrapper {
        display: flex;
    }

    #about_info_card {
        width: 80%;
    }

    /***** SKILLS *****/

    #skills_wrapper {
        display: flex;
    }

    .card_2,
    .card_3,
    #skills_text,
    #skills_cube {
        flex-basis: 45%;
    }

    #skills_cube {
        margin-top: 225px;
        margin-bottom: 0;
    }

    #skills_text {
        margin-left: 150px;
    }

    /***** WORK *****/

    #work_gallery {
        grid-template-columns: 1fr 1fr;
        padding-left: 40px;
    }

    .project_container {
        width: 70%;
        margin-top: 80px;
    }

    .pop_msg {
        width: 600px;
        top: 75px;
        bottom: unset;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0; 
    }

    /***** CONTACT *****/

    fieldset div:nth-child(-n+3) {
        width: 49%;
    }

    fieldset div:nth-child(2){
        float: right;
    }

    fieldset {
        padding-right: 20px;
        padding-left: 20px;
    }

    #contact_title,
    #contact_wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    #submit {
        right: 20px;
    }
}


@media(min-width: 1024px) {

    /***** BACK LOGO *****/

    #back_container {
        padding-top: 0;
    }

    /***** WELCOME *****/

    #welcome {
        margin-left: 180px;
        padding-top: 80px;
    }

    #welcome h2,
    #welcome button {
        font-size: 1rem;
    }

    #welcome button {
        width: 170px;
    }
    

    /***** NAV AND FOOTER *****/

    header {
        position: fixed;
        top:0;
        left: 0;
        width: 60px;
        height: 100%;
    }

    nav {
        top: 20%;
        left: 0;
        height: 100%;
        width: 60px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        width: 100%;
        position: sticky;
    }

    #prof_media {
        top: 80%;
        left: 0;
        width: 60px;
        display: flex;
        flex-direction: column;
        z-index: 10;
    }

    .footer_icon {
        margin: 5px 0 10px 20px;
    }

    /***** ABOUT *****/

    #about_info_card {
        width: 70%;
    }

    #about_info_card {
        display: flex;
    }

    .card_1 {
        flex-basis: 25%;
    }

    #two_cards_wrapper {
        flex-basis: 65%;
    }

    #two_cards_wrapper {
        flex-direction: column;
    }

    /***** SKILLS *****/

    #skills_text {
        margin-top: 150px;
        padding-left: 20px;
    }

    #skills_text {
        flex-basis: 50%;
    }

    /***** WORK *****/

    #work_gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .project_container {
        width: 75%;
    }
    .project_overlay {
        padding: 20px;
        padding-top: 50px;
    }

    .project_overlay p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    .pop_msg {
        top: 15px;
    }

    /***** CONTACT *****/

    #contact_wrapper {
        display: flex;
    }

    #contact_form,
    #contact_data {
        flex-basis: 45%;
    }

    #submit {
        bottom: 115px;
        right: 22.5px;
    }

    #iframe_wrapper {
        height: 250px;
    }

}