/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
 font-family: 'Roboto', sans-serif;
}

body {
  font: 1em/1.5;
  background-color: #fff;
}

header {
	padding: 30px 0;
	text-align: center;  
	background-color: rgb(95, 2, 55);
	color: #fff;
}

h1 {
	font-size: 2em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	margin: 0;
}

h2 {
	font-size: 1.5rem;
	display: inline-block;
	
}

#headings {
	text-align: center;
	border-bottom: 5px solid #000;
	width: 95%;
	margin: auto;
	margin-bottom: 5px;
}

#headings p {
	margin-top: 0;
	margin-bottom: 25px;
}

#headings p,
label {
	color: rgb(116, 116, 116);
	font-size: 1.1rem;
}

a {
  text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	margin: 0;
	background-color: rgb(248, 248, 248);
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
    margin: 0 2.5%;
    border:0;
    padding-left:0;
    padding-right:0;
}

label {
    margin: 10px 0;
	display: block;
	margin-bottom: .5em;
}

button {
	font-size: 1.25em;	
}

legend {
    padding: 10px 0;
    font-size: 1.3em;
    width: 100%;
	border-top: 2px solid #000;
	font-weight: 700;
	margin-bottom: 20px;
	padding-top: 15px;

}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

input[type="text"],
input[type="email"] {
	border-radius: 10px;
}


input::placeholder {
    text-align: right;
    padding-right: 5%;
    font-size: .89em;
}

input,
select {
	margin-bottom: 1.125em;	
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background-color: rgb(235, 235, 235);
	border: none;
	outline: none;
}

input:focus {
	background: #fff;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

#submit {
    height: 65px;
    font-size: 1.5rem;
	color:#fff;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(58, 173, 148);
	border:0;
	margin-bottom: 50px;
	cursor: pointer;
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

#submit:hover {
	background: #184c62;
}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

.flag {
	font-size: 1.3rem;
	font-weight: 700;
}

.total_topay {
	color: #184c62;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.is-disabled {
	color: rgb(209, 205, 205);
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Validation messages
==================================== */

.val_msg {
	color: rgb(167, 40, 40);
	font-size: 1rem;
	margin-top: 0;
}

.err_decoration {
	border: 2px solid rgb(167, 40, 40);
}

.correct_decoration {
	border: 2px solid rgb(24, 138, 20);
}
/* ================================= 
  Media Queries
==================================== */


@media (min-width: 768px) {

	#headings,
	form {
		width: 60%;
		margin: 10px auto;
	}
	
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}
}